/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
*, *::after, *::before {
	box-sizing: border-box;
}

body {
  font-family: sans-serif;
  left:0px;
  padding: 2rem;
	color: #3a4660;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom:0;
}

section p {
	margin-top: 0;
}

section code {
  background-color: #EEE;
  
}

.flex-nav{
	display: flex;
	justify-content: center;
	color:red;
}




/* 
  INTERACTIVE ELEMENTS -------------------

*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5em 1em;
  color: #FFF;
  background-color: #6DA888;
  border-radius: 0.25em;
  text-decoration: none;
  /*-webkit-transition: background-color 0.5s ease-out;*/
  transition: background-color 0.3s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: #999;
}


/* Styling for the text link */
.text-link{
	color: #aaf;
	text-decoration:none;
	transition: color 0.1s ease-out;
}

.text-link:hover, .text-link:focus {
	text-decoration:underline;
	font-style:italic;
  color: #6DA888;
}

/* Styling for button submit */
.button-submit {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#6DA888;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px#17c47f;
}
.button-submit:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}

.button-submit:active {
	position:relative;
	top:1px;
}

/* Styling for button reset */
.button-submit, .button-reset {
	box-shadow: 0px 1px 0px 0px #6DA888;
	background:linear-gradient(to bottom, #6DA888 5%, #6DA888 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	border-radius:6px;
	border:1px solid #486B4B;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #17c47f;
}
.button-submit:hover, .button-reset:hover {
	background:linear-gradient(to bottom, #486B4B 5%, #486B4B 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#486B4B;
}

.button-submit:active, .button-reset:active{
	position:relative;
	top:1px;
}

.input-info{
	border: 0; 
	padding: 7px 0; 
	border-bottom: 1px solid #ccc;
	transition: background-color 0.5s ease-out;
	}

.input-info:active, .input-info:focus{
	position:relative;
	border: 1px solid #4d4;
	background-color:#eee;
}


/* 
  TEXT ELEMENTS -------------------
*/
/* Styling for heading one */
.heading-one{
	font-size:4rem;
	font-family: 'Anton', sans-serif;
	letter-spacing:0.1rem;

}

/* Styling for heading two */
.heading-two{
	font-size:2rem;
	font-family: 'Abril Fatface', cursive;
}

/* Styling for heading three */
.heading-three{
	font-size:1.5rem;
	font-family: 'Anton', sans-serif;
}

/* Styling for heading paragraphs */
.Paragraphs{
	font-family: 'Lato', sans-serif;
}

.bullet-lst-no-link{
	font-family: 'Lato', sans-serif;
	list-style-type:circle;
}

.bullet-lst-with-link a{
	font-family: 'Lato', sans-serif;
	color:#66f;
	text-decoration:none;
}

.bullet-lst-with-link a:hover, .bullet-lst-with-link a:focus{
	display:inline-block;
	font-family: 'Lato', sans-serif;
	text-decoration-line: underline;
	text-decoration-style:dotted;
	font-weight:bold;
	padding:0.2em;
}





/* 
  COMBINED ELEMENTS -------------------
*/

.product-container{
	display:flex;
}

.product-item{
	margin:auto;
	text-align:center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product-item div{
	background-color:#fff;
}

.product-item p{
	background-color:#6DA888;
	margin:0;
	padding:1em 0.5em;
}

/* Style the top navigation bar */

nav#menu {
	display: flex;
	background-color: #6DA888;
}

/* Style for web grid stucture */
/*structure css*/
#structure-sample *{
        box-sizing: border-box;
    }
#structure-sample header {
	padding: 60px;
	text-align: center;
	background: #6DA888;
	color: white;
}


/* navigation bar*/

.flex-container{
	width:100%;
	display:flex;
	background-color: #B7BE78;
	font-size: 1.2rem;
	text-align: center;
	justify-content:center;
	margin:5px 0px;
	padding:10px 0px;
}

.flex-container div{
	width:150px;

}

.flex-container div a{
	color:#fff;
	text-decoration: none;
}

.flex-container div a:link{
	text-decoration: none;
	color:#fff;
}

.flex-container div a:hover{
	font-weight: bold;
	color:#6DA888;
}

.flex-container div a:focus{
	font-weight:bold;
	color:#fff;
}




.container {
  position: relative;
  text-align: center;
  color: white;
}


.container img{
	width:100%;
	/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
*, *::after, *::before {
	box-sizing: border-box;
}

body {
  font-family: sans-serif;
  left:0px;
  padding: 2rem;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom:0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  
}


/* 
  INTERACTIVE ELEMENTS -------------------

*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5em 1em;
  color: #FFF;
  background-color: #6DA888;
  border-radius: 0.25em;
  text-decoration: none;
  /*-webkit-transition: background-color 0.5s ease-out;*/
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: #999;
}


/* Styling for the text link */
.text-link{
	color: #aaf;
	text-decoration:none;
	transition: color 0.1s ease-out;
}

.text-link:hover, .text-link:focus {
	text-decoration:underline;
	font-style:italic;
  color: #6DA888;
}

/* Styling for button submit */
.button-submit {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#6DA888;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.button-submit:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}

.button-submit:active {
	position:relative;
	top:1px;
}

/* Styling for button reset */
.button-submit, .button-reset {
	box-shadow: 0px 1px 0px 0px #6DA888;
	background:linear-gradient(to bottom, #6DA888 5%, #6DA888 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	border-radius:6px;
	border:1px solid #486B4B;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.button-submit:hover, .button-reset:hover {
	background:linear-gradient(to bottom, #486B4B 5%, #486B4B 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#486B4B;
}

.button-submit:active, .button-reset:active{
	position:relative;
	top:1px;
}

.input-info{
	border: 0; 
	padding: 7px 0; 
	border-bottom: 1px solid #ccc;
	transition: background-color 0.5s ease-out;
	}

.input-info:active, .input-info:focus{
	position:relative;
	border: 1px solid #4d4;
	background-color:#eee;
}


/* 
  TEXT ELEMENTS -------------------
*/
/* Styling for heading one */
.heading-one{
	font-size:4rem;
	font-family: 'Anton', sans-serif;
}

/* Styling for heading two */
.heading-two{
	font-size:2rem;
	font-family: 'Abril Fatface', cursive;
}

/* Styling for heading three */
.heading-three{
	font-size:1.5rem;
	font-family: 'Anton', sans-serif;
}

/* Styling for heading paragraphs */
.Paragraphs{
	font-family: 'Lato', sans-serif;
}

.bullet-lst-no-link{
	font-family: 'Lato', sans-serif;
	list-style-type:circle;
}

.bullet-lst-with-link a{
	font-family: 'Lato', sans-serif;
	color:#66f;
	text-decoration:none;
}

.bullet-lst-with-link a:hover, .bullet-lst-with-link a:focus{
	display:inline-block;
	font-family: 'Lato', sans-serif;
	text-decoration-line: underline;
	text-decoration-style:dotted;
	font-weight:bold;
	padding:0.2em;
}





/* 
  COMBINED ELEMENTS -------------------
*/

.product-container{
	display:inline-block;;
}

.product-item{
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin:auto;
	text-align:center;
  max-width: 300px;




}

.product-item div{
	background-color:#fff;
}

.product-item p{
	background-color:#6DA888;
	margin:0;
	padding:1em 0.5em;
}

/* Style the top navigation bar */

nav#menu {
	display: flex;
	background-color: #6DA888;
}

/* Style for web grid stucture */
/*structure css*/
#structure-sample *{
        box-sizing: border-box;
    }
#structure-sample header {
	padding: 60px;
	text-align: center;
	background: #6DA888;
	color: white;
}


/* navigation bar*/

.flex-container{
	width:100%;
	display:flex;
	background-color: #B7BE78;
	font-size: 1.2rem;
	text-align: center;
	justify-content:center;
	margin:5px 0px;
	padding:10px 0px;
}

.flex-container div{
	width:150px;

}

.flex-container div a{
	color:#fff;
	text-decoration: none;
}

.flex-container div a:link{
	text-decoration: none;
	color:#fff;
}

.flex-container div a:hover{
	font-weight: bold;
	color:#6DA888;
}

.flex-container div a:focus{
	font-weight:bold;
	color:#fff;
}




.container {
  position: relative;
  text-align: center;
  color: white;
}


.container img{
	width:100%;
	height:50%;
}

.centered {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#structure-sample footer {
	text-align: center;
	background-color: #B2B785;
	color:white;
	margin: -1.8em auto 0px auto; 
	padding-top:2em;
	padding-bottom:8em;

}
/* image button*/
.container .btn {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
} 









}

.centered {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#structure-sample footer {
	text-align: center;
	background-color: #B2B785;
	color:white;
	margin: -1.8em auto 0px auto; 
	padding-top:2em;
	padding-bottom:8em;

}
/* image button*/
.container .btn {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
} 

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #d1c8b5;
  padding: 10px;
  height:500px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;

}

.item1 {
  grid-column-start: 1;
  grid-column-end: 5;

}

.item2 {
  grid-row-start: 2;
  grid-row-end: 6;
}

.item3 {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 5;
}
.item4 {

  grid-column-start: 1;
  grid-column-end: 5;
 

}
.color {
	height:280px;
	padding:0;
	width:20%;
	display:inline-block;
}















/*structure css*/